<html>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <%= @print %>
</body>
</html>


<div class="infoc2"> 
  <div class="cnt" style="position: relative;">
     <h3 id="editfilm" rel="13-horas-los-soldados-secretos-de-bengasi">
       <span>Información</span>
     </h3> 
     <p class="dest"></p> 
     <p class="sdest"><b>Año: </b><span>2016</span></p> 
     <p><b>Título original: </b>13 Hours: The Secret Soldiers of Benghazi</p> 
     <p><b>País: </b>EE.UU.</p> 
     <p><b>Duración: </b><span itemprop="duration">144 minutos</span></p> 
     <p><b>Presupuesto: </b>50.000.000$</p> 
     <p><b>Género: </b><span itemprop="genre">Acción, Drama, Thriller</span></p> 
     <p><b>Estudios: </b><span itemprop="productionCompany"><a href="http://www.ecartelera.com/empresas/paramount-pictures/">Paramount Pictures</a></span></p> 
     <p><b>Distribuidora: </b><a href="http://www.ecartelera.com/empresas/paramount-pictures/">Paramount Pictures</a></p> 
     <p>No recomendado menores de 16 años</p> 
     <a href="http://www.ecartelera.com/videos/trailer-final-espanol-13-horas-los-soldados-secretos-de-bengasi/" class="vertrailer">Ver tráiler</a>  
   </div> 
</div>